.heading {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
}


.input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  cursor: pointer;
}
